<div class=" alert alert-warning"> <h1> <%= @blog_entry.title %></h1></div>

  <%= @blog_entry.html.html_safe %>
<div class=" alert alert-info">  <%= @blog_entry.time %></div>

<%= link_to 'Edit', edit_blog_entry_path(@blog_entry) %> |
<%= link_to 'Back', blog_entries_path %>
