<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "/bootstrap/css/bootstrap.css" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="body">
	<%= yield %>
</div>
</body>
</html>
